4-1

In [ ]:
#1
print( list(range(1,21,2)) )

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#2
str1='machineLearning'
print( list(str1) )

['m', 'a', 'c', 'h', 'i', 'n', 'e', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [ ]:
#3

##a
print( list(range(100,122,2)) ) 

##b
print( list(range(-1,-10,-1)) )

##c
print( list(range(-1,-20,-3)) )

##d
print( list(range(10,65,9)) )

[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120]
[-1, -2, -3, -4, -5, -6, -7, -8, -9]
[-1, -4, -7, -10, -13, -16, -19]
[10, 19, 28, 37, 46, 55, 64]

In [ ]:
#4
lst=[9,8,7,1,2,3,7,3,2]

#a
print( lst[0:3:1] )

#b
print( lst[-1:-4:-1] )

#c
print( lst[4:8] )

#d
print( lst[0:9:2] )

#e
print( len(lst) )
print( max(lst) )
print( min(lst) )

#f
print( lst[-1:-5:-1] )

#g
print( lst[::-1] )

[9, 8, 7]
[2, 3, 7]
[2, 3, 7, 3]
[9, 7, 2, 7, 2]
9
9
1
[2, 3, 7, 3]
[2, 3, 7, 3, 2, 1, 7, 8, 9]

In [ ]:
#5
lst=[43,12,12,34]

#a
lst.extend([2,12])
print(lst)
print(lst.count(12))

#b
lst=[43,12,12,34]
lst.append([25,99])
print(lst)

#c
lst=[43,12,12,34]
lst.insert(2,65)
print(lst)

#d
lst=[43,12,12,34]
lst.remove(12)
print(lst)

#e
lst=[43,12,12,34]
lst.sort(reverse=True)
print(lst)

#f
lst=[43,12,12,34]
lst.pop()
lst.pop(2)
print(lst)

[43, 12, 12, 34, 2, 12]
3
[43, 12, 12, 34, [25, 99]]
[43, 12, 65, 12, 34]
[43, 12, 34]
[43, 34, 12, 12]
[43, 12]

In [ ]:
#6
lst=[12,43,83,91]
a=list
lst.append(23)
print(lst)
print('因為list等於a，所以list跟a指向的是同一個串列，當list被更改時，a也會跟著更改')

[12, 43, 83, 91, 23]
因為list等於a，所以list跟a指向的是同一個串列，當list被更改時，a也會跟著更改

In [ ]:
#7
lst=[[17,21],[98,12],[33,[44,[21,38,35]]],[35,42]]

#a
print(lst[0])

#b
print(lst[0][1])
#提取索引為1的子串列中，索引為0的元素

#c
print(lst[2][0])

#d
print(lst[3])

#e
print(lst[1][0])

#f
a=(lst[2][1])
#a=[44,[21,38,35]]
print(a[0])

#g
a=(lst[2][1])
#a=[44,[21,38,35]]
print(a[1])

#h
a=(lst[2][1])
#a=[44,[21,38,35]]
print(a[1][1:])

#i
a=(lst[2][1])
#a=[44,[21,38,35]]
print(a[1][:2])

#j
a=(lst[2][1])
#a=[44,[21,38,35]]
print(a[1][1])

#k
print(lst[0],lst[1])

#l
print(lst[2][1])

[17, 21]
21
33
[35, 42]
98
44
[21, 38, 35]
[38, 35]
[21, 38]
38
[17, 21] [98, 12]
[44, [21, 38, 35]]

In [ ]:
#8

#a
print(tuple((31,22)))

#b
print(tuple((21,)))

#c
print(tuple( (range(45,49)) ))

#d
print(tuple( ('cat')) )

#e
print(tuple( ('cat',)) )

#f
print(tuple( (range(9,2,-1))) )

#g
print(tuple( (38,(35,)) ) )

#h
print(tuple( (0,0,0,0,0)) )

(31, 22)
(21,)
(45, 46, 47, 48)
('c', 'a', 't')
('cat',)
(9, 8, 7, 6, 5, 4, 3)
(38, (35,))
(0, 0, 0, 0, 0)