In [1]:
#1
print('tuple是序對且定義之後就不能更改;list是串列定義之後可以更改')

tuple是序對且定義之後就不能更改,list是串列定義之後可以更改

In [4]:
#2
print(sum([2,5,3,7,5]))
print(sum({2,5,3,7,5}))
print('不一樣，因為第一個程式碼是串列裡的元素相加，第二程式碼是集合相加=2+3+5+7=17')

22
17
不一樣，因為第一個程式碼是串列相加，第二程式碼是集合相加=2+3+5+7=17

In [7]:
#3
iNumber1=int(input('請輸入一個整數'))
iNumber2=int(input('請輸入一個整數'))
print( (iNumber1+iNumber2)/2 )

請輸入一個整數2
請輸入一個整數5
3.5

In [9]:
from IPython.core.display import set_matplotlib_close
#4
import math

n1=int(input('請輸入第一個整數'))
n2=int(input('請輸入第二個整數'))
n3=int(input('請輸入第三個整數'))

large=max(n1,n2,n3)
small=min(n1,n2,n3)
print(math.gcd(large,small))

請輸入第一個整數15
請輸入第二個整數45
請輸入第三個整數6
3

In [39]:

#5
st='I Love Programming'

##1
print('I Love Programming'.startswith('i'))
print('I Love Programming'.endswith('g'))

##2
print( st.count('m') )

##3
s1=st.swapcase()
s2=s1.replace(' ','&')
print(s2)

False
True
2
i&lOVE&pROGRAMMING

In [44]:
#6
tpl={9,67,35,35,29,67,35}

##1
print(max(tpl),min(tpl),sum(tpl))

##2
print( 5 in tpl )

##3
tpl.add(5)
print(tpl)

67 9 140
False
{67, 35, 5, 9, 29}