5-1

In [11]:
#1
t=int(input('溫度='))

if t >28:
  print('開冷氣')
elif t <=28 and t>=15:
  print('不開冷氣') 
else:
  print('開暖氣')

溫度=28
不開冷氣

In [12]:
#2
x=int(input('x='))
if x%2 == 0:
  print('x是偶數')
elif x%2 == 1:
  print('x是奇數')

x=2
x是偶數

In [16]:
#3
y=int(input('西元年分='))

if y%400 == 0 or y%4 == 0 and y%100 !=0:
  print(str(y)+'是閏年')
else:
  print(str(y)+'是平年')

西元年分=1999
1999是平年

In [35]:
#4
a=int(input('a='))
b=int(input('b='))
c=int(input('c='))
tuple=((a,b,c))
if a+b>c:
  print(str(tuple)+'可以形成三角形')
else:
  print(str(tuple)+'無法形成三角形')

a=5
b=12
c=3
(5, 12, 3)可以形成三角形

In [42]:
#5
x=int(input('x='))
if x>=90:
  print('A')
elif 80<=x<90:
  print('B')
elif 70<=x<80:
  print('C')
elif 60<=x<70:
  print('D')
elif x<60:
  print('F')

x=90
A

In [64]:
#6
a=int(input('a='))
b=int(input('b='))
c=int(input('c='))

if a>b>c:
  print((c,b,a))
elif a>c>b:
  print((b,c,a))  
elif b>a>c:
  print((c,a,b))
elif b>c>a:
  print((a,c,b))
  
elif c>a>b:
  print((b,a,c))
elif c>b>a:
  print((a,b,c))

a=5
b=10
c=2
(2, 5, 10)

In [86]:
#7
##1
var= print('5為奇數') if 5%2==1 else print('5為偶數')

##2
x=6
y=3
z=0
z= x if x>y else y
print(z)

##3
x=[5,6,4]
var= print('x is not empty') if x else print('x is empty')

##4
x=-10
x= -x if x<0 else x
print(x)

5為奇數
6
x is not empty
10

In [91]:
#8
m=int(input('month'))
if 3<=m<=5:
  print(str(m)+' is spring')
elif 6<=m<=8:
  print(str(m)+' is summer')
elif 9<=m<=11:
  print(str(m)+' is autumn')
else:
  print(str(m)+' is winter')

month5
5 is spring

In [96]:
#9
h=int(input('停車時間'))
#前12小時停車費為12*40=480元

if h>12:
  price=( (h-12)*30 + 12*40 )
  print('停車'+str(h)+'小時，應繳'+str(price)+'元')
else:
  print(h*40)

停車時間16
停車16小時，應繳600元

In [108]:
#10
s=int(input('seconds'))
h=s//3600
hm=(s%3600)//60
hs=(s%3600)%60
print( str(s)+'秒等於'+str(h)+'小時'+str(hm)+'分鐘'+str(hs)+'秒' )

seconds14865
14865秒等於4小時7分鐘45秒

In [114]:
#11
a=int(input('a='))
b=int(input('b='))
c=int(input('c='))
tuple=((a,b,c))
if a+b<c:
  print(str(tuple)+'不能成為三角形')
elif (a**2) + (b**2) != (c**2):
  print(str(tuple)+'可成為三角形，但不是直角三角形')
elif (a**2) + (b**2) == (c**2):
  print(str(tuple)+'為直角三角形')

a=3
b=4
c=5
(3, 4, 5)為直角三角形

In [132]:
#12
p=int(input('price'))
#give_change
gc=100-p
print('找錢='+str(gc))

if gc//50>0:
  gc50=gc//50
  gc10=(gc-50)//10
  gc5=((gc-50)-gc10*10)//5
  gc1=((gc-50)-gc10*10)%5
  print( '50元硬幣'+str( gc50 )+'枚，'+'10元硬幣'+str( gc10 )+'枚，'+
        '5元硬幣'+str( gc5 )+'枚，'+'1元硬幣'+str( gc1 )+'枚' )
  
elif gc<50 and gc>10 :
  gc10=gc//10
  gc5=(gc%10)//5
  gc1=(gc%10)%5
  print( '10元硬幣'+str( gc10 )+'枚，'+'5元硬幣'+str( gc5 )+'枚，'+'1元硬幣'+str( gc1 )+'枚' )
elif gc<10 and gc>5:
  gc5=gc//5
  gc1=gc%5
  print( '5元硬幣'+str( gc5 )+'枚，'+'1元硬幣'+str( gc1 )+'枚' )
elif gc<5:
  gc1=gc//1
  print( '1元硬幣'+str( gc1 )+'枚' )

price99
找錢=1
1元硬幣1枚，

In [136]:
#13
n=int(input('n='))
sum=1
for i in range(1,n+1):
  sum=sum*i
print(sum)

n=5
120

In [138]:
#14
sum=0
for y in range(1,2023):
  if y%400 == 0 or y%4 == 0 and y%100 !=0:
    sum+=1
print(sum)

490

In [155]:
#15
##1
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print('*',end='')
  print('') #print裡面沒東西=換行

*****
****
***
**
*

In [168]:
#15
##2
for i in range(4,0,-1):
  for j in range(i,0,-1):
    a=4-i #星號的數量
    print('-',end='')
  print('') #print裡面沒東西=換行

----
---
--
-

In [ ]:
#15
##3

In [ ]:
#15
##4

In [172]:
#15
#5
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end='')
  print('')

1
12
123
1234
12345

In [174]:
#15
##5

54321
4321
321
21
1

In [ ]:
#15
##6

In [ ]:
#15
##7

In [ ]:
#15
##8

In [ ]:
#16
#1

In [176]:
#16
#2
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j,end='')
  print('')

12345
1234
123
12
1

In [189]:
#17
lst=[[2,4,5],[5,8,None],[10,3,4]]
sum1=0
for i in lst[0]:
  sum1+=i
print(sum1)

print('Incomplete data')

sum2=0
for i in lst[2]:
  sum2+=i
print(sum2)

11
Incomplete data
17

In [192]:
#18
n=int(input('number='))
lst=[]
for i in str(n):
  lst.append(int(n))
print(lst.sort(reverse=True))

number=12345
None

In [193]:
#19
a=int(input('a='))
b=int(input('b=')) #a<=b

for i in range(0,100):
  if a

a=2
b=6